= render "map"
%ul.nav.nav-pills
  -@tags.each do |tag|
    %li.notice
      %a{href: by_tag_path(tag.name), style: "color: gray;"}
        %span.badge.pull-right=tag.counter
        = tag.name

.introSection
  .container
    .row
      .col-lg-12
        %h3 
          Tweets con Hashtag 
          %b #{params[:tag]}
        %p
          %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
            %li.active
              %a{"data-toggle" => "tab", href: "#red", style: "color: gray;"} TSDB
            %li
              %a{"data-toggle" => "tab", href: "#orange", style: "color: gray;"} LBSA
            %li
              %a{"data-toggle" => "tab", href: "#yellow", style: "color: gray;"} Ling Pipe
          #my-tab-content.tab-content
            #red.tab-pane.active
              = render "tsdb"
              = render "bubbles", tweets: tsdb_tweets_by_tag(params[:tag]).to_json, div: "tsdb"
            #orange.tab-pane
              = render "lbsa"
              = render "bubbles", tweets: lbsa_tweets_by_tag(params[:tag]).to_json, div: "lbsa"
            #yellow.tab-pane
              = render "ling_pipe"
              = render "bubbles", tweets: ling_pipe_tweets_by_tag(params[:tag]).to_json, div: "lingpipe"

.introSection
  .container
    .row
      .col-lg-12
        %h3 
          Listado de tweets
        - @tweets.each do |t|
          %p
            =t.content
        
:javascript
  $('#tabs').tab();