= render "map"
%ul.nav.nav-pills
  -@tags.each do |tag|
    %li.notice
      %a{href: by_tag_path(tag.name, stweet: "stweet"), style: "color: gray;"}
        %span.badge.pull-right=tag.counter
        = tag.name
.introSection
  .container
    .navbar-content
      %h3
        %a{href: "#bubbles", style: "color: black;", "onclick" => 'show_bubbles()', id: "title-bubbles"} Análisis de Sentimientos En todos los Tweets
        |
        %a{href: "#bars", style: "color: gray;", "onclick" => 'show_bars()', id: "title-bars"} Análisis de Sentimientos Por Principales HashTags
#bubbles.active
  .container
    .marketing       
      .itemsTitle Lexicon-Based Sentiment Analysis
      %p
        = render "lbsa"
        = render "bubbles", tweets: lbsa_tweets("stweet").to_json, div: "lbsa"
#bars
  .container
    .marketing
      .row
        .col-lg-12
          .itemsTitle Lexicon-Based Sentiment Analysis
          %p
            %lbsa-tags
            = render "by_tags", tags: lbsa_tags("stweet"), div: "lbsa-tags", stweet: "stweet"

:javascript
  $("#bars").hide();
  
  function show_bubbles(){
    $("#bubbles").removeAttr( 'style' );
    $("#bars").removeAttr( 'style' );
    $("#title-bars").removeAttr( 'style' );
    $("#title-bubbles").removeAttr( 'style' );
    $("#title-bars").css('color', 'gray');
    $("#title-bubbles").css('color', 'black');
    $("#bubbles").show();
    $("#bars").hide();
  }
  
  function show_bars(){
    $("#bubbles").removeAttr( 'style' );
    $("#bars").removeAttr( 'style' );
    $("#title-bars").removeAttr( 'style' );
    $("#title-bubbles").removeAttr( 'style' );
    $("#title-bars").css('color', 'black');
    $("#title-bubbles").css('color', 'gray');
    $("#bubbles").hide();
    $("#bars").show();
  }